
body {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    margin-left: 100px;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: white;
    align-content: center;
    min-height: 100vh;

    background: url(./assets/bk3.jpg)no-repeat center center;
    background-position: top center;
    background-size: cover;
--stroke-color: rgba(255, 255, 255, 0.5);
--surface-color: rgba(255, 255, 255, 0.1);
--surface-color-hover: rgba(255, 255, 255, 0.5);
--highlight-color: rgba(255, 255, 255, 0.2);

}

a {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    position: absolute;
    
    
}

h2 {
    font-weight: 900;
    font-size:xx-large;
}

#logout {
    background: url('./assets/voltar.png') no-repeat center center;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    z-index: 1; 
    
}

#logout:hover{
    background: url('./assets/voltarh.png') no-repeat center center;
    background-size: contain;
    transform: scale(1.1);

}

button {
    display: inline-block;
    /*margin: 0px 0px 20px;*/
    padding: 10px;
    max-width: 150px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #b44d27;
    color: #fff;
    transition: background-color 0.3s ease;
}

#back-button{
    position: absolute;
    top: 0;
    left: 0;
}

ul {
    font-size: x-large;
    margin-bottom: 10px;
}

li {
    margin-bottom: 10px;

}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    color: white;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;


    backdrop-filter: blur(10px);
    background-color: rgb(16, 23, 42);
    border-radius: 8px;
    border: 1px solid var(--stroke-color);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.219);
    box-sizing: border-box;
}

.modal-content input,.modal-content textarea{
    color: white;
    padding: 10px;
    backdrop-filter: blur(10px);
    background-color: var(--surface-color);
    border-radius: 8px;
    /*background: var(--surface-color);*/
    border: 1px solid var(--stroke-color);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.219);
    box-sizing: border-box;

}

.modal span, .close, .close-link {
    height: 25px;
    width: 25px;
    color: #f81414;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal span:hover,
.modal span:focus,
.close:hover,
.close:focus,
.close-link:hover,
.close-link:focus {
    transform: scale(1.1);
    color: rgb(92, 9, 9);
    text-decoration: none;
    cursor: pointer;
}

.modal h2 {
    text-align: center; /* Centraliza o título */
}

.modal form {
    display: flex; /* Usar flexbox */
    flex-direction: column; /* Coluna para alinhar itens um abaixo do outro */
}

.modal label {
    margin: 10px 0 5px; /* Margem entre label e input */
}

.modal input[type="text"],
.modal input[type="password"],
.modal select {
    padding: 10px; /* Espaçamento interno nos campos */
    border: 1px solid #ccc; /* Borda padrão */
    border-radius: 4px; /* Bordas arredondadas nos campos */
    width: 100%; /* Largura total dos campos */
    box-sizing: border-box; /* Inclui padding e borda na largura total */
    margin-bottom: 5px;
}

/* Container for both configurations */
.config-wrapper {
    display: flex;
    justify-content: space-between; /* Space between the two sections */
    align-items: flex-start;        /* Align items to the top */
    gap: 20px;                      /* Space between the columns */
    padding: 20px;
    margin-right: 50px;
}

/* Left column for company configurations */
.company-config {
    flex: 1;                        /* Take up equal space */
     /* Light gray background */
    padding: 15px;
    border: 1px solid #ccc;         /* Light border */
    border-radius: 5px;             /* Rounded corners */
    max-width: 45%;                 /* Control the maximum width */
}

/* Right column for user configurations */
.user-config {
    flex: 1;                        /* Take up equal space */
   /* Light gray background */
    padding: 15px;
    border: 1px solid #ccc;         /* Light border */
    border-radius: 5px;             /* Rounded corners */
    max-width: 45%;                 /* Control the maximum width */
}

/* Style list items for better presentation */
#config-list, #users-list {
    list-style-type: none;          /* Remove bullet points */
    padding: 0;
}

#config-list li, #users-list li {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;

}
